/*===========================
    1. COMMON css 
===========================*/

@import url('https://fonts.googleapis.com/css?family=Poppins:400,400i,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

body {
	font-family: $pop;
	font-weight: normal;
	font-style: normal;
	color: $body-color;
	font-size: 16px;
}

* {
	margin: 0;
	padding: 0;
	@include box-sizing(border-box);
}

img {
	max-width: 100%;
}

a:focus,
input:focus,
textarea:focus,
button:focus,
.slick-initialized .slick-slide:focus {
	text-decoration: none;
	outline: none;
}

a:focus,
a:hover {
	text-decoration: none;
}

i,
span,
a {
	display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $pop;
	font-weight: 700;
	margin: 0px;
}

h1 {
	font-size: 48px;
}
h2 {
	font-size: 36px;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 22px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}
ul,
ol {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

p {
	font-size: 15px;
	font-weight: 400;
	line-height: 1.75;
	margin: 0px;
}

.bg_cover {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

.preloader {
	background-color: #fff;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
	.cssload-container {
		display: block;
		width: 97px;
	}
	.cssload-loading i {
		width: 19px;
		height: 19px;
		display: inline-block;
		border-radius: 50%;
		background: #000;
	}
	.cssload-loading i:first-child {
		opacity: 0;
		animation: cssload-loading-ani2 0.58s linear infinite;
		-o-animation: cssload-loading-ani2 0.58s linear infinite;
		-ms-animation: cssload-loading-ani2 0.58s linear infinite;
		-webkit-animation: cssload-loading-ani2 0.58s linear infinite;
		-moz-animation: cssload-loading-ani2 0.58s linear infinite;
		transform: translate(-19px);
		-o-transform: translate(-19px);
		-ms-transform: translate(-19px);
		-webkit-transform: translate(-19px);
		-moz-transform: translate(-19px);
	}
	.cssload-loading i:nth-child(2),
	.cssload-loading i:nth-child(3) {
		animation: cssload-loading-ani3 0.58s linear infinite;
		-o-animation: cssload-loading-ani3 0.58s linear infinite;
		-ms-animation: cssload-loading-ani3 0.58s linear infinite;
		-webkit-animation: cssload-loading-ani3 0.58s linear infinite;
		-moz-animation: cssload-loading-ani3 0.58s linear infinite;
	}
	.cssload-loading i:last-child {
		animation: cssload-loading-ani1 0.58s linear infinite;
		-o-animation: cssload-loading-ani1 0.58s linear infinite;
		-ms-animation: cssload-loading-ani1 0.58s linear infinite;
		-webkit-animation: cssload-loading-ani1 0.58s linear infinite;
		-moz-animation: cssload-loading-ani1 0.58s linear infinite;
	}
	@keyframes cssload-loading-ani1 {
		100% {
			transform: translate(39px);
			opacity: 0;
		}
	}
	@-o-keyframes cssload-loading-ani1 {
		100% {
			-o-transform: translate(39px);
			opacity: 0;
		}
	}
	@-ms-keyframes cssload-loading-ani1 {
		100% {
			-ms-transform: translate(39px);
			opacity: 0;
		}
	}
	@-webkit-keyframes cssload-loading-ani1 {
		100% {
			-webkit-transform: translate(39px);
			opacity: 0;
		}
	}
	@-moz-keyframes cssload-loading-ani1 {
		100% {
			-moz-transform: translate(39px);
			opacity: 0;
		}
	}
	@keyframes cssload-loading-ani2 {
		100% {
			transform: translate(19px);
			opacity: 1;
		}
	}
	@-o-keyframes cssload-loading-ani2 {
		100% {
			-o-transform: translate(19px);
			opacity: 1;
		}
	}
	@-ms-keyframes cssload-loading-ani2 {
		100% {
			-ms-transform: translate(19px);
			opacity: 1;
		}
	}
	@-webkit-keyframes cssload-loading-ani2 {
		100% {
			-webkit-transform: translate(19px);
			opacity: 1;
		}
	}
	@-moz-keyframes cssload-loading-ani2 {
		100% {
			-moz-transform: translate(19px);
			opacity: 1;
		}
	}
	@keyframes cssload-loading-ani3 {
		100% {
			transform: translate(19px);
		}
	}
	@-o-keyframes cssload-loading-ani3 {
		100% {
			-o-transform: translate(19px);
		}
	}
	@-ms-keyframes cssload-loading-ani3 {
		100% {
			-ms-transform: translate(19px);
		}
	}
	@-webkit-keyframes cssload-loading-ani3 {
		100% {
			-webkit-transform: translate(19px);
		}
	}
	@-moz-keyframes cssload-loading-ani3 {
		100% {
			-moz-transform: translate(19px);
		}
	}
}
/*others common css here*/
@keyframes slide {
	0% {
		@include transform(scale(1));
	}
	50% {
		@include transform(scale(1.2));
	}
	100% {
		@include transform(scale(1));
	}
}
