/*===========================
   . Demo Preview 
===========================*/
body.preview-page {
	background-color: #f9f9f9;
	.container {
		@media (min-width: 1600px) {
			max-width: 1540px;
		}
	}
	.banner-section {
		position: relative;
		display: flex;
		align-items: center;
		background-size: cover;
		background-position: center;
		height: 875px;
		@media #{$xs} {
			height: 500px;
		}
		.banner-content {
			margin-top: -60px;
			.title {
				span.title-top {
					color: #ffffff;
					font-weight: 900;
					font-size: 95px;
					@media #{$md} {
						font-size: 70px;
					}
					@media #{$xs} {
						font-size: 30px;
					}
					@media #{$sm} {
						font-size: 40px;
					}
				}
				h1 {
					font-size: 150px;
					line-height: 160px;
					color: #ffffff;
					font-weight: 900;
					margin-bottom: 40px;
					-webkit-text-fill-color: transparent;
					-webkit-text-stroke: 2px #dddddd;
					@media #{$lg} {
						font-size: 110px;
					}
					@media #{$md} {
						font-size: 92px;
						margin-bottom: 50px;
					}
					@media #{$xs} {
						font-size: 50px;
						margin-bottom: 50px;
						line-height: 60px;
					}
					@media #{$sm} {
						font-size: 70px;
						line-height: 90px;
					}
					span {
						position: relative;
						span {
							position: absolute;
							left: 0;
							bottom: -25px;
							-webkit-text-fill-color: #ffffff;
							font-size: 36px;
							line-height: 36px;
							-webkit-text-stroke: 0px;
							@media #{$xs} {
								font-size: 20px;
							}
						}
					}
				}
			}
			.banner-btn {
				.main-btn {
					background-color: #5f5f5f;
					color: #ffffff;
					font-size: 18px;
					font-weight: 700;
					padding-top: 4px;
					padding-bottom: 4px;
					padding-right: 30px;
					border-radius: 5px;
					margin-right: 30px;
					i {
						height: 42px;
						width: 50px;
						text-align: center;
						border-right: 1px solid #7f7f7f;
						line-height: 42px;
						margin-right: 20px;
					}
					@media #{$xs} {
						margin-bottom: 30px;
					}
				}
				span {
					color: #ffffff;
					font-weight: 700;
					font-size: 30px;
					@media #{$xs} {
						font-size: 16px;
					}
				}
			}
		}
	}
	.footer-section {
		background-size: cover;
		background-position: center;
		position: relative;
		z-index: 1;
		color: #ffffff;
		font-size: 36px;
		font-weight: 800;
		height: 340px;
		display: flex;
		align-items: center;
		@media #{$md} {
			font-size: 25px;
		}
		@media #{$xs} {
			font-size: 15px;
			height: 200px;
		}
		&::before {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			background-color: #000000;
			opacity: 0.75;
			content: '';
		}
		h1 {
			font-weight: 900;
			font-size: 60px;
			color: #ffffff;
			line-height: 1.5;
			@media #{$md} {
				font-size: 50px;
			}
			@media #{$xs} {
				font-size: 30px;
			}
		}
	}
	.demo-showcase {
		.section-gap {
			width: 100%;
			height: 190px;
			@media #{$xs} {
				height: 150px;
			}
		}
		.section-title {
			margin-bottom: 0;
			h1 {
				display: inline-block;
				font-size: 150px;
				line-height: 1;
				font-weight: 900;
				color: #f9f9f9;
				-webkit-text-fill-color: #f9f9f9;
				-webkit-text-stroke: 1px #9e9e9e;
				position: relative;
				@media #{$xs} {
					font-size: 60px;
				}
				span {
					position: absolute;
					left: -98px;
					top: -35px;
					font-size: 36px;
					line-height: 36px;
					color: #1f1f1f;
					-webkit-text-fill-color: #1f1f1f;
					-webkit-text-stroke: 0px;
					@media #{$xs} {
						left: 0;
						font-size: 20px;
					}
				}
			}
		}
		.demo-box {
			&.pr-30 {
				padding-right: 30px;
				@media #{$md} {
					padding-right: 0;
				}
				@media #{$xs} {
					padding-right: 0;
				}
			}
			&.pl-30 {
				padding-left: 30px;
				@media #{$md} {
					padding-left: 0;
				}
				@media #{$xs} {
					padding-left: 0;
				}
			}
			margin-top: 75px;
			text-align: center;
			img {
				box-shadow: 10.751px 28.007px 100px 0px rgba(24, 24, 25, 0.18);
			}

			h6 {
				font-size: 20px;
				font-weight: bold;
				margin-top: 35px;
				a {
					color: #151515;
				}
			}
		}
	}
}


.page-wrapper .page-left-content{
	@media #{$md} {
		text-align: center;
		margin-top: 30px;
	}
	@media #{$xs} {
		text-align: center;
		margin-top: 30px;
	}
}
.page-wrapper{
	&::before{
		@media #{$md} {
			width: 0 !important;
		}
		@media #{$xs} {
			width: 0 !important;
		}

	}
}