/*===========================
   3. Project Two
===========================*/
.page-wrapper.project-two {
	position: relative;
	.page-content {
		padding-top: 70px;
		padding-bottom: 30px;
		min-height: 100vh;
		padding-right: 0px;
		@media #{$laptop} {
			padding-right: 65px;
		}
		@media #{$lg} {
			padding-right: 30px;
		}
		@media #{$md} {
			padding-top: 150px;
			max-width: 84%;
			margin: auto;
			padding-bottom: 60px;
		}
		@media #{$xs} {
			padding-top: 120px;
		}
		.coming-soon-title {
			position: relative;
			margin-top: 10vh;
			margin-bottom: 5vh;
			@media #{$xs} {
				margin-top: 80px;
				margin-bottom: 40px;
			}
			&::before {
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				width: 100%;
				z-index: -1;
				height: 3px;
				background-color: #04050a;
				content: '';
			}
			h3 {
				font-size: 30px;
				color: #000000;
				font-weight: 700;
				display: inline-block;
				background: #ffffff;
				padding-left: 30px;
				padding-right: 30px;
				@media #{$xs} {
					font-size: 20px;
				}
			}
		}
		.title {
			h1 {
				font-size: 120px;
				font-weight: 900;
				color: #181818;
				line-height: 1;
				margin-bottom: 35px;
				@media only screen and (min-width: 1601px) and (max-width: 1800px) {
					font-size: 95px;
				}
				@media #{$laptop} {
					font-size: 75px;
				}
				@media #{$lg} {
					font-size: 70px;
				}
				@media #{$xs} {
					font-size: 50px;
				}
				@media #{$sm} {
					font-size: 70px;
				}
			}
			p {
				font-size: 17px;
				font-weight: 500;
				color: #000000;
				line-height: 2;
				@media #{$laptop} {
					font-size: 15px;
					margin-left: -30px;
					margin-right: -30px;
				}
				@media #{$lg} {
					font-size: 14px;
					margin-left: -60px;
					margin-right: -30px;

				}
				@media #{$xs} {
					font-size: 16px;
				}
				@media #{$sm} {
					font-size: 15px;
				}
			}
		}
		.subs-form {
			margin-top: 11vh;
			form {
				width: 100%;
				position: relative;
				input {
					width: 100%;
					height: 66px;
					background-color: #f8f8f8;
					border: none;
					padding-left: 30px;
					padding-right: 70px;
				}
				input,
				::placeholder {
					font-weight: 600;
					font-size: 16px;
					color: #000000;
				}
				button {
					position: absolute;
					right: 0;
					top: 0;
					height: 100%;
					width: 70px;
					background-color: #000000;
					color: #ffffff;
					z-index: 2;
					font-size: 20px;
					border: none;
				}
			}
		}
		.social-icon {
			margin-top: 30px;
			@media #{$xs} {
				margin-top: 50px;
			}
			ul {
				li {
					display: inline-block;
					margin-right: 6px;
					&.title {
						color: #000000;
						font-weight: bold;
						margin-right: 20px;
						@media #{$xs} {
							display: block;
						}
						@media #{$sm} {
							display: inline-block;
						}
					}
					a {
						height: 35px;
						width: 35px;
						line-height: 35px;
						background-color: #000;
						color: #fff;
						border-radius: 50%;
						display: block;
						text-align: center;
						font-size: 12px;
					}
				}
			}
		}
	}
	.days-count {
		position: absolute;
		top: 210px;
		left: 50%;
		@include transform(translate(-50%, 0));
		background-color: #04050a;
		height: 225px;
		width: 225px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		@media #{$md} {
			top: 380px;
		}
		@media #{$xs} {
			height: 200px;
			width: 200px;
			top: 190px;
		}
		.count-content {
			text-align: center;
			h2 {
				font-size: 60px;
				color: #ffffff;
				font-weight: 900;
				@media #{$xs} {
					font-size: 40px;
				}
			}
			span {
				font-size: 18px;
				color: #ffffff;
				font-weight: 700;
				@media #{$xs} {
					font-size: 15px;
				}
			}
		}
	}
	.page-img {
		height: 100%;
		background-size: cover;
		background-position: center;
		background-color: #fff2ef;
		margin-left: -15px;
		margin-right: -15px;
		position: relative;
		overflow: hidden;
		@media #{$md} {
			height: 500px;
		}
		@media #{$xs} {
			height: 300px;
		}
		.contact-map {
			width: 100%;
			height: 100%;
		}
		&.video {
			.wrapper-video {
				min-width: 100%;
				min-height: 100%;
				object-fit: cover;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}
		#particles-js {
			height: 100%;
			width: 100%;
		}
	}
	.col-lg-8.offset-lg-2.custom {
		@media #{$laptop} {
			flex: 0 0 80%;
			max-width: 80%;
			margin-left: 20%;
		}
		@media #{$lg} {
			flex: 0 0 80%;
			max-width: 80%;
			margin-left: 20%;
		}
	}
}
