// Font Family
$pop: 'Poppins', sans-serif;
// Colors ---------------
$body-color: #252525;

// Responsive Variables
$large: 'only screen and (min-width: 1400px)';
$laptop: 'only screen and (min-width: 1200px) and (max-width: 1399px)';
$lg: 'only screen and (min-width: 992px) and (max-width: 1200px)';
$md: 'only screen and (min-width: 768px) and (max-width: 991px)';
$xs: '(max-width: 767px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';
